# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
cairosvg
graphviz
matplotlib
numpy
pandas
pyagrum=0.22.8=py39h5e13cb6_0
pyqt
pyqt-impl
pyqt5-sip
pyqtchart
pyqtwebengine
python=3.9.7
python-graphviz
qt
qtawesome
qtconsole
qtpy
scipy
statsmodels
